.row {
    margin-bottom: 0px; 
}
body {
    font-family: 'Pragati Narrow', sans-serif;
}
.flat-text {
    height: 25px;
    width: 80%;
    background-color: rgba(0,0,0,0.15);
    display: block;
    margin: 27px auto;
}
.card-rel {
    position:relative;
}
.itemabs {
    position: absolute;
    left: 14%;
    right: 0;
    top:3%;
    bottom:0;
    margin: auto;
    width: 41px;
}
.labitem {
    position: absolute;
    left: 50%;
    right: 0;
    top:0px;
    bottom:0;
    margin: auto;
    margin-top: 1px;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.card-panel {
    border-radius: 20px;
}
@media only screen and (min-width: 1760px) {
    /* For desktop: */
    .labitem {
        left: 60%;
    }
    .itemabs {
        left: 0%;
    }
  }
  @media only screen and (min-width: 1572px) {
    /* For desktop: */
    .labitem {
        left: 60%;
    }
    .itemabs {
        left: 0%;
    }
  }